{% extends 'base.html' %}

{% block title %}Dashboard | Farm 360{% endblock %}

{% block content %}
<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <!-- Sidebar with create buttons -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Actions</span>
            <!-- Button to create a new event -->
            <a href="{% url 'create_event' %}" class="waves-effect waves-light btn mb-3">Create Event</a>
            <!-- Button to create a new livestock -->
            <a href="{% url 'create_livestock' %}" class="waves-effect waves-light btn">Create Livestock</a>
          </div>
        </div>
      </div>

      <!-- Salutation outside main content div -->
      <div class="col-lg-9">
        {% if user.is_authenticated %}
          <!-- Salutation Card -->
          <div class="card blue-grey darken-1 white-text" style="max-height: 200px; overflow: auto;">
            <div class="card-content">
              <span class="card-title">
                {% comment %} Greeting based on the time of day {% endcomment %}
                {% if current_hour < 12 %}
                  Good Morning,
                {% elif current_hour < 18 %}
                  Good Afternoon,
                {% else %}
                  Good Evening,
                {% endif %}
                {{ user.username }}!
              </span>
              <p>Welcome Back!.</p>
            </div>
          </div>

          <!-- Section for Events and Livestock (side by side) -->
          <div class="row">
            <!-- Section for Events -->
<div class="col-lg-6">
    <div class="card" style="max-height: 200px; overflow: auto;">
      <div class="card-content">
        <span class="card-title">Your Events</span>
        <p>Number of events: {{ event_list|length }}</p>
        <ul class="event">
          {% for event in event_list|slice:":2" %}
            <li>
              <a href="{% url 'event_details' pk=event.pk %}">{{ event.title }}</a>
              <p>Start date: {{ event.start_date }}</p>
              <p>End date: {{ event.end_date }}</p>
            </li>
          {% endfor %}
        </ul>
        <a href="{% url 'event_list' %}">See More</a>
      </div>
    </div>
  </div>
  
  <!-- Section for Livestock -->
  <div class="col-lg-6">
    <div class="card" style="max-height: 200px; overflow: auto;">
      <div class="card-content">
        <span class="card-title">Your Livestock</span>
        <p>Number of livestock: {{ livestock_list|length }}</p>
        <ul class="collection">
          {% for livestock in livestock_list|slice:":2" %}
            <li>
              <a href="{% url 'livestock_detail' pk=livestock.pk %}">
                <strong>Name: {{ livestock.name }}</strong> - Type:{{ livestock.livestock_type }} ({{ livestock.sex }})
              </a>
              <br>
            </li>
          {% endfor %}
        </ul>
        <a href="{% url 'livestock_list' %}">See More</a>
      </div>
    </div>
  </div>
  
        {% else %}
          <div class="card" style="max-height: 200px; overflow: auto;">
            <div class="card-content">
              <p>You are not logged in.</p>
              <a href="{% url 'login' %}" class="waves-effect waves-light btn">Log In</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>




{% endblock %}
