<!-- update_livestock.html -->

{% extends 'base.html' %}

{% block title %}Update Livestock | Farm 360{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="teal-text text-darken-2">Update Livestock</h2>
    <div class="row">
      <form class="col s12" method="post" action="{% url 'livestock_update' pk=livestock.id %}">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s12">
            <input id="livestock_type" type="text" class="validate" name="livestock_type" value="{{ livestock.livestock_type }}" required>
            <label for="livestock_type">Livestock Type</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name" value="{{ livestock.name }}" required>
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="sex" class="form-label">Sex</label>
            <select class="form-select" id="sex" name="sex" required>
              <option value="" disabled>Select Sex</option>
              <option value="male" {% if livestock.sex == "male" %}selected{% endif %}>Male</option>
              <option value="female" {% if livestock.sex == "female" %}selected{% endif %}>Female</option>
            </select>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
            <input id="identification_number" type="text" class="validate" name="identification_number" value="{{ livestock.identification_number }}" required>
            <label for="identification_number">Identification Number</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status" required>
              <option value="" disabled selected>Select Status</option>
              <option value="alive">Alive</option>
              <option value="sold">Sold</option>
              <option value="slaughtered">Slaughtered</option>
            </select>
          </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="physical_characteristics" type="text" class="validate" name="physical_characteristics" value="{{ livestock.physical_characteristics }}" required>
            <label for="physical_characteristics">Physical Characteristics</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="birth_date" type="text" class="validate datepicker" name="birth_date" value="{{ livestock.birth_date }}" required>
            <label for="birth_date">Birth Date</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="vet_contacts" type="text" class="validate" name="vet_contacts" value="{{ livestock.vet_contacts }}" required>
            <label for="vet_contacts">Vet Contacts</label>
          </div>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit">Update Livestock</button>
          <a href="{% url 'livestock_list' %}" class="waves-effect waves-light btn-flat right">Back to Livestock List</a>
        </div>
      </form>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      // Initialize materialize select dropdown
      $('select').formSelect();

      // Initialize date picker
      $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',  // Set the desired date format
        showAnim: 'slideDown',   // You can customize the animation
        changeMonth: true,
        changeYear: true
      });
    });
  </script>
{% endblock %}
